# created by virtualenv automatically
# DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdlist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff
*.log
local_settings.py

# Flask stuff
instance/
.webassests-cache

# Scrapy stuff
.scrapy



